<!-- Login form -->
<form class="sign-in form-horizontal shadow rounded no-overflow" id="sign_in_form" method="post">
    <div class="sign-header">
        <div class="form-group">
            <div class="sign-text">
                <span>Member Area</span>
            </div>
        </div><!-- /.form-group -->
    </div><!-- /.sign-header -->
    <div class="sign-body">
        <div class="alert alert-info" id="sign_in_error">

        </div>
        {if isset($message)}
        <div class="alert alert-info"  >
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

            {$message}
        </div>
        {/if}


        <div class="form-group">
            <div class="input-group input-group-lg rounded no-overflow">
                <input type="text" class="form-control input-sm" placeholder="Email or Badge Number " name="identity">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
            </div>
        </div><!-- /.form-group -->
        <div class="form-group">
            <div class="input-group input-group-lg rounded no-overflow">
                <input type="password" class="form-control input-sm" placeholder="Password" name="password">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            </div>
        </div><!-- /.form-group -->
    </div><!-- /.sign-body -->
    <div class="sign-footer">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <div class="ckbox ckbox-theme">
                        <input id="remember" name="remember" type="checkbox">
                        <label for="remember" class="rounded">Remember me</label>
                    </div>
                </div>
<!--                <div class="col-xs-6 text-right">-->
<!--                    <a href="{base_url('account/lost-password')}" title="lost password">Lost password?</a>-->
<!--                </div>-->
            </div>
        </div><!-- /.form-group -->
        <div class="form-group">
            <button type="submit" class="btn btn-theme btn-lg btn-block no-margin rounded" id="login-btn">Sign In</button>
        </div><!-- /.form-group -->
    </div><!-- /.sign-footer -->
</form><!-- /.form-horizontal -->
<!--/ Login form -->

<!-- Content text -->
<!--<p class="text-muted text-center sign-link">Need an account? <a href="{base_url('production/admin/codeigniter/account/sign-up')}"> Sign up free</a></p>-->
